.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  position: relative;
  padding: 0.5rem;
  /* background-color: rgba(101,18,95,0.5); */
  z-index: 1;
  /* height: 150px; */
  padding: 20px;
  color: white;
  /* font-size: 0.625rem; */
  /* display: table-cell; */
  letter-spacing: 0.05rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.App-header nav {
  display: table-cell;

}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

body .album {
  font-family: 'Open Sans';
  color: white;
  min-height: 100%;
  background-image: url(./assets/images/blurred_backgrounds/blur_bg_3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  padding-bottom: 100px;
 }

.album-cover-art {
  position: relative;
  left: 20%;
  margin-top: 1rem;
  width: 60%;
}

td {
  height: 3rem;
  border-bottom: 1px solid rgba(255,255,255,0.5) !important;
}

.song:hover .ion-play {
  display: block !important;
}

.song.is-playing:hover .ion-play {
  display: none !important;
}

.song.is-playing .ion-pause {
  display: block !important;
}

.song.is-playing .song-number {
  display: none !important;
}

.album-song-button {
  cursor: pointer;
  color: white;
  background-color: rgb(210, 40, 123);
}

.song-number {
  width: 5%;
  min-width: 30px;
}

.song-title {
  width: 85%;
}

.song-duration {
  width: 5%;
}

.album-song-button {
  text-align: center;
  font-size: 14px;
  background-color: white;
  color: rgb(210, 40, 123);
  border-radius: 50% 50%;
  display: inline-block;
  width: 28px;
  height: 28px;
}

/* .album-song-button span {
  line-height: 28px;
} */

.song:hover .ion-play {
  display: block;
}

.song:hover .song-number {
  display: none;
}

#song-list .ion-play, #song-list .ion-pause {
  display: none;
}

#song-list {
  display: flex;
  justify-content: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
